DATABASE_URL=<postgres_url>
JWKS_ENDPOINT=https://your-outh2-provider/application/o/<your-app>/jwks/
PORT=8080
REDIS_URL=redis://localhost:6379
RAG_ANYTHING_BASE_URL=http://localhost:8000
LLM_PROVIDER=openai
OPENAI__BASEURL="<OPENAI_COMPATIBLE_PROVIDER_BASEURL"
OPENAI__APIKEY="<OPENAI_COMPATIBLE_PROVIDER_API_KEY>"
OPENAI__MODEL="<LLM_MODEL_NAME>"
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_SECRET_KEY=""
LANGFUSE_HOST="https://cloud.langfuse.com"   # default
LLM_REASONING_EFFORT=medium                # default
OPENAI__REASONING_MODEL=o3                 # optional